<div class="col-xs-12 col-sm-12 balance_sheet">
  <div class="card-header bg-white text-dark">
    资产负债表
    <%= link_to '+', "#balance_sheet", class: "add_record btn btn-circle btn-lg"%>
  </div>
  <div class="row asset-scoll" style="margin-right:0px;margin-left:0px;">
    <div class="assets_sheet bg-white">
      <u class="title">资产</u>
      <div class="card-body">
        <table>
          <div class="row">
            <div class="col">房地产</div>
            <div class="col">房产</div>
            <div class="col">首付</div>
          </div>
          <div id="asset">
            <% @investments.each do |asset| %>
              <%= render "investments/one_asset", asset: asset %>
            <% end %>
          </div>
          <div class="row">
            <div class="col">股票/基金</div>
            <div class="col">股票份数</div>
            <div class="col">成本单价</div>
          </div>
          <div id="stock">
            <% @stock_investments.each do |asset| %>
              <%= render "stock_investments/one_stock", asset: asset %>
            <% end %>
          </div>
        </table>
      </div>
    </div>
    <div class="vl bg-white"></div>
    <div class="Liability bg-white">
      <u class="title">负债</u>
      <div class="card-body">
        <table>
          <div class="row">
            <div class="col">贷款项</div>
            <div class="col">贷款金额</div>
          </div>
          <div id="debt">
            <% @investments.each do |asset| %>
              <%= render "investments/one_debt", asset: asset %>
            <% end %>
            <% @stock_investments.each do |asset| %>
              <%= render "stock_investments/one_debt", asset: asset %>
            <% end %>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>
