<div class="case_flow col-xs-12 col-sm-5">
  <div class="card-header bg-white text-dark">
    <span>
      现金流量表
      <%= link_to '+', "#", class: "add_table btn btn-circle btn-lg"%>
    </span>
  </div>
  <div class="card">
    <div class="scoll">
      <u class="title">收入状况</u>
      <div class="card-body">
        <table>
          <div id="incomes">
            <% @incomes.each do |cash_input| %>
              <%= render "cash_flows/one_item", cash_input: cash_input %>
            <% end %>
          </div>
        </table>
      </div>
    </div>
    <div class="bg-light">
      <span id="income" class="pull-right"><%= Test_datas_income.sum(:income_expenses) %></span>
      <button class="pull-right sum">Σ</button>
    </div>
    <div class="scoll">
      <u class="title">支出状况</u>
      <div class="card-body">
        <table>
          <% Test_datas_outlay.each do |cash_input| %>
            <div class="row">
              <div class="col-7"><%= cash_input.subject %></div>
              <div class="col-5">
                <span class="pull-right">
                  <%= "¥ #{-cash_input.income_expenses}" %>
                </span>
              </div>
            </div>
          <% end %>
        </table>
      </div>
    </div>
    <div class="bg-light">
      <span id="outlay" class="pull-right"><%= -Test_datas_outlay.sum(:income_expenses) %></span>
      <button class="pull-right sum">Σ</button>
    </div><hr style="margin:3px">
    <div class="bg-light">
      <span class="pull-right">
        <%= Test_datas_income.sum(:income_expenses) - Test_datas_outlay.sum(:income_expenses) %>
      </span>
      <button class="total pull-right sum">Σ</button>
    </div>
  </div>
</div>
