<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自己的财报</title>
  </head>
  <body style="background:Cornsilk">
    <div class="col-xs-12 col-sm-12">
      <%= render 'cash_flows/cash_flow' %>
      <div id="new_cash_flow" class="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5>新增现金流</h5>
            </div>
            <div class="modal-body">
              <%= render 'cash_flows/new' %>
            </div>
          </div>
        </div>
      </div>
      <div id="new_balance_sheet" class="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5>新增资产</h5>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-3">
                  <button class="btn btn-sm" type="button" data-toggle="collapse" data-target="#add_invest">
                    资产、房产
                  </button>
                </div>
                <div class="col-1">
                </div>
                <div class="col-3">
                  <button class="btn btn-sm" type="button" data-toggle="collapse" data-target="#add_stock">
                    股票、基金
                  </button>
                </div>
              </div>
              <div class="collapse" id="add_invest" data-parent="#new_balance_sheet">
                <%= render 'investments/new' %>
              </div>
              <div class="collapse" id="add_stock" data-parent="#new_balance_sheet">
                <%= render 'stock_investments/new' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render 'investments/balance_sheet' %>
    </div>

  </body>

  <script>
    $('.sum').on('click', function () {
      var prevMoney = $(this).parent().prev().find('span').text()
      var money = prevMoney.split('¥')
      sum = 0
      $.each(money, function () {
        sum += parseFloat(this) || 0
      })
      $(this).prev().text(parseFloat(sum))
    })
    $('.total').click(function () {
      totalIncomeExpenses()
    })
    $('.add_record').click(function (e) {
      e.preventDefault();
      if ($(this).attr("href") == "#cash_flows") {
        $("#new_cash_flow").modal('toggle')
      } else if ($(this).attr("href") == "#balance_sheet") {
        $("#new_balance_sheet").modal('toggle')
      }
    })

    function totalIncomeExpenses(){
      var income = Number($('#income').text())
      var outlay = Number($('#outlay').text())
      var sum = income + outlay
      $("#total_income_expenses").text(parseFloat(sum))
    }
  </script>
</html>
