<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自己的财报</title>
  </head>
  <body>
    <div class="col-xs-12 col-sm-12">
      <div class="case_flow col-xs-12 col-sm-5">
        <div class="card-header">
          现金流量表
        </div>
        <div class="card">
          <div class="scoll">
            <u class="title">收入状况</u>
            <div class="card-body">
              <table>
                <% Test_datas_income.each do |cash_input| %>
                  <div class="row">
                    <div class="col-7"><%= cash_input.subject %></div>
                    <div class="col-5">
                      <span class="pull-right">
                        <%= "¥ #{cash_input.income_expenses}"  %>
                      </span>
                    </div>
                  </div>
                <% end %>
              </table>
            </div>
          </div>
          <div class="bg-light">
            <span id="income" class="pull-right"><%= Test_datas_income.sum(:income_expenses) %></span>
            <button class="pull-right">Σ</button>
          </div>
          <div class="scoll">
            <u class="title">支出状况</u>
            <div class="card-body">
              <table>
                <% Test_datas_outlay.each do |cash_input| %>
                  <div class="row">
                    <div class="col-7"><%= cash_input.subject %></div>
                    <div class="col-5">
                      <span class="pull-right">
                        <%= "¥ #{-cash_input.income_expenses}"  %>
                      </span>
                    </div>
                  </div>
                <% end %>
              </table>
            </div>
          </div>
          <div class="bg-light">
            <span id="outlay" class="pull-right"><%= -Test_datas_outlay.sum(:income_expenses) %></span>
            <button class="pull-right">Σ</button>
          </div><hr style="margin:3px">
          <div class="bg-light">
            <span class="pull-right">
              <%= Test_datas_income.sum(:income_expenses) - Test_datas_outlay.sum(:income_expenses) %>
            </span>
            <button class="total pull-right">Σ</button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 balance_sheet">
        <div class="card-header">
          资产负债表
        </div>
        <div class="row asset-scoll" style="margin-right:0px;margin-left:0px;">
          <div class="assets_sheet">
              <u class="title">资产</u>
              <div class="card-body ">
                <table>
                  <div class="row">
                    <div class="col">房地产</div>
                    <div class="col">房产</div>
                    <div class="col">首付</div>
                  </div>
                  <% Test_datas_invest.each do |asset| %>
                    <div class="row">
                      <div class="col"><%= asset.subject %></div>
                      <div class="col"><%= asset.cost %></div>
                      <div class="col"><%= asset.down_payment %></div>
                    </div>
                  <% end %>
                  <div class="row">
                    <div class="col">股票/基金</div>
                    <div class="col">股票份数</div>
                    <div class="col">单价</div>
                  </div>
                  <% Test_datas_stock.each do |asset| %>
                    <div class="row">
                      <div class="col"><%= asset.coding %></div>
                      <div class="col"><%= asset.amount %></div>
                      <div class="col"><%= asset.price %></div>
                    </div>
                  <% end %>
                </table>
              </div>
          </div>
          <div class="vl"></div>
          <div class="Liability">
              <u class="title">负债</u>
              <div class="card-body">
                <table>
                  <div class="row">
                    <div class="col">贷款项</div>
                    <div class="col">贷款金额</div>
                  </div>
                  <% Test_datas_invest.each do |asset| %>
                    <div class="row">
                      <div class="col"><%= asset.subject %></div>
                      <div class="col"><%= asset.debt %></div>
                    </div>
                  <% end %>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>

  </body>

  <script>
    $('button').on('click', function(){
      var prevMoney = $(this).parent().prev().find('span').text()
      var money = prevMoney.split('¥')
      sum = 0
      $.each(money, function(){
        sum += parseFloat(this) || 0
      })
      $(this).prev().text(sum)
    })
    $('.total').click(function(){
      var income = Number($('#income').text())
      var outlay = Number($('#outlay').text())
      var sum = income + outlay
      $(this).prev().text(sum)
    })
  </script>
</html>
