<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自己的财报</title>
  </head>
  <body style="background:Cornsilk">
    <div class="col-xs-12 col-sm-12">
      <%= render 'cash_flows/cash_flow' %>
      <div id="new_cash_flow" class="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5>新增现金流</h5>
            </div>
            <div class="modal-body">
              <%= render 'cash_flows/new' %>
            </div>
          </div>
        </div>
      </div>
      <div id="new_balance_sheet" class="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5>新增资产</h5>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-3">
                  <button class="btn btn-sm" type="button" data-toggle="collapse" data-target="#add_invest">
                    资产、房产
                  </button>
                </div>
                <div class="col-1">
                </div>
                <div class="col-3">
                  <button class="btn btn-sm" type="button" data-toggle="collapse" data-target="#add_stock">
                    股票、基金
                  </button>
                </div>
              </div>
              <div class="collapse" id="add_invest" data-parent="#new_balance_sheet">
                <%= render 'investments/new' %>
              </div>
              <div class="collapse" id="add_stock" data-parent="#new_balance_sheet">
                <%= render 'stock_investments/new' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render 'investments/balance_sheet' %>
    </div>

  </body>

  <script>
    $(document).ready(function() {
      $(".delete_item").hide()
      $('.save_item').hide()
    })

    $('.add_record').click(function (e) {
      e.preventDefault();
      if ($(this).attr("href") == "#cash_flows") {
        $("#new_cash_flow").modal('toggle')
      } else if ($(this).attr("href") == "#balance_sheet") {
        $("#new_balance_sheet").modal('toggle')
      }
    })

    $(document).click(function () {
      $('.delete_item').hide()
      $('.save_item').hide()
    });

    $('.editor').click(function(e){
      $('.delete_item').hide()
      $('.save_item').hide()
      e.stopPropagation();
      $(this).find('.delete_item').show()
      $(this).find('.save_item').show()
    })

    $('.delete_item').click(function(e){
      e.preventDefault();
      var url = $(this).parent().attr('href');

      $.ajax({
        url: url,
        type: "DELETE",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
      })
    })

    $('.save_item').click(function(e){
      e.preventDefault();
      var url = $(this).parent().attr('href');
      var topEle = $(this).parent().parent().parent().parent()
      var inputs = topEle.find('input')
      var name = topEle.attr('name')
      var account_items = []

      $.each(inputs, function(){
        var item_hash = {}
        item_hash[$(this).attr("name")] = $(this).val()
        account_items.push(item_hash)
      })

      $.ajax({
        url: url,
        type: "PUT",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {account_items: account_items}
      })
    })

  </script>
</html>
